.footer {
  color: white;
  background-color: #303841;

  a {
    color: white;
  }
  ul {
    list-style-type: none;
  }
  .fa {
    padding: 20px;
    font-size: 2.5rem;
    width: 2.5rem;
    text-align: center;
    text-decoration: none;
    margin: 0.1rem 0.5rem;
    border-radius: 50%;
  }
  .fa:hover {
    color: rgb(107, 107, 107);
    transition: 0.4s ease;
    transform: translateY(0.5rem);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
  }
}
